@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

:root {
  --pink: #D81B60;
  --gray: #f3f4f6;
  --dark: #1F1F1F;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;

}


body {
  background-color: var(--gray);

}

.font-Dynalight {
  font-family: 'Dynalight', cursive;
}

.font-candy {
  font-family: 'Emilys Candy', cursive;
}

.text-pink {
  color: var(--pink);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-dark {
  background-color: var(--dark);
}

